#dv_container {
    /* border: 1px solid lightgray; */
    /* border: 5px solid black; */
    background-color: white;
    overflow: hidden;
    position: relative;
}

#dv {
    position: relative;
    overflow: hidden;
}

#dv_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin: 1rem 1rem 1rem 2rem;
}

#dv_source {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1rem 1rem 1rem 2rem;
    font-size: 2rem;
}

div.object {
    position: absolute;
    display: flex;
    align-items: center;
    width:100%;
}

div.bar_container {
    display: flex;
    align-items: center;
    flex:86%;
}

div.bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.name_container {
    z-index: 2;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    flex:14%;
}

.name {
    text-align: right;
    font-size: 2rem;
    margin-right: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

p.value {
    margin: 0px 0px 0px 0.5em;
    font-size: 2rem;
}

img.icon {
    height: 4rem;
    min-width: 4rem;
    max-width: 4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.2rem;
}

#dv_date_container {
    display: flex;
    position: absolute;
    right: 2em;
    bottom: 7em;
}

#dv_date_container > p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18em;
    color: gray;
    opacity: 0.5;
}

#dv_total_container {
    display: flex;
    position: absolute;
    right: 3em;
    bottom: 1.5em;
    opacity: 0.5;
}

#dv_total_container > p {
    margin: 0px 0px 0px 0.25em; 
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 6em;
}


#frame_counter {
    font-size: 4em;
    width: 5em;
    margin: 0px;
}

.stateButton {
    width: 5em;
    font-size: 4em;
}